[Unit]
Description=IBM operator panel application.
StopWhenUnneeded=false

[Service]
BusName=com.ibm.PanelApp
Type=dbus
Restart=always
RestartSec=5
ExecStart=/usr/bin/ibm-panel

[Install]
WantedBy=multi-user.target
